:root{
   --offwhite: #FFFCF5;
   --cream: #FFF6E0;
   --red-light: #f5936c;
   --shadow-red-light: #bb5c36;
   --red: #DC4E33;
   --gold:  #FEB346;
   --shadow-gold: #b8812f;
   --brown-light: #CB6E2D;
   --shadow-brown-light: rgba(203, 111, 45, 0.391);
   --green:#08a300;
   --brown-dark: #633729;
}

#add-recipe-page{
   overflow-x:hidden;
}

// box that shows title and buttons for navigation
.title-box{
   display:inline-flex;
   justify-content:center;
   align-items:center;
   width:90%;

   padding:10px;
   background:var(--brown-dark);
   border: 5px solid black;
   border-radius:5px;
}
.title-box-buttons{
   flex:auto;
   display:flex;
   justify-content:flex-end;
}

// stylings for form boxes within swiper carousel
#add-form{
   display:inline-block;
   padding:0 !important;
   width:90%;
}
#add-form .form-card{
   width:100%;
}

#add-form form{
   display:inline-block;
   padding:30px;
   input[type=text], textarea, .form-heading, select{
      width:100%;
      display:block;
      text-align:center;
   }
   textarea{
      height:150px !important;
   }
   img{
      width:50%
   }
   input[type=number]
   {
      width:100px;
      max-width:100%;
   }
}

#add-form ul{
   display:flex;
   flex-wrap:wrap;
   width:100%;
}
#add-form li{
   word-wrap:normal !important;
   display:inline-block;
   max-width:100% !important;
   padding:15px;
   list-style:none;
}

