:root{
    --offwhite: #FFFCF5;
    --cream: #FFF6E0;
    --red-light: #f5936c;
    --shadow-red-light: #bb5c36;
    --red: #DC4E33;
    --gold:  #FEB346;
    --gold: #FEB346;
    --brown-light: #CB6E2D;
    --brown-dark: #633729;
}

.container
{
    width:80%;
    margin:30px 0;
    
    text-align:center;
}
/* .carousel-wrapper{
    display: inline-block;
    display:flex;
    width:60%;
    text-align:center;
    overflow-x:scroll;

}
.carousel
{
   display:flex;
   flex-direction:row;
   justify-content:center;
   align-items:center;
   text-align:center;

   height:600px;
   width:100%;
} */

.myRecipe-wrapper, .discoveredWrapper{

}

#my-recipes{

}

/* image slider */
.slider-wrapper{
   
}
.slider-wrapper .slider{
   white-space:nowrap !important;
}
.slider .post{
   height:340px;
   object-fit: cover;
   max-width: calc(100vw/3);
}