
:root{
   --offwhite: #FFFCF5;
   --cream: #FFF6E0;
   --red-light: #f5936c;
   --shadow-red-light: #bb5c36;
   --red: #DC4E33;
   --gold:  #FEB346;
   --shadow-gold: #b8812f;
   --brown-light: #CB6E2D;
   --brown-dark: #633729;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background:var(--cream) !important;
}


.slider{
   background:gray;
   padding:0 20px;
   width:100%;
   max-width:1200px;
   border-radius:2rem;

   display:grid;
   grid-auto-flow:column;
   grid-auto-columns: 30%;
   overflow-x:scroll;
   overscroll-behavior-inline:contain; 
   .mc-post{
      width:90%;
      margin-left:10px;
      border-radius:0;
  } 
}

#my-recipes{
   .slider{
      background:var(--red-light);
   }
   .slider > .mc-post{
      box-shadow:0 5px 15px 5px var(--shadow-red-light);
   }
}
#discovered-recipes{
   .slider{
      background:var(--gold);
   }
   .slider > .mc-post{
      box-shadow:0 5px 15px 5px var(--shadow-gold);
   }
}
.snaps-inline{
   scroll-snap-type: inline mandatory;
   scroll-padding-inline: 2rem;
}
.snaps-inline > * {
   scroll-snap-align:start;
}

@media screen and (max-width: 990px){
   .slider{
      grid-auto-columns:47%;
   }
}

@media screen and (max-width: 550px){
   .slider{
      grid-auto-columns:91%;
   }
}