
:root{
   --offwhite: #FFFCF5;
   --cream: #FFF6E0;
   --red-light: #f5936c;
   --shadow-red-light: #bb5c36;
   --red: #DC4E33;
   --gold:  #FEB346;
   --shadow-gold: #b8812f;
   --brown-light: #CB6E2D;
   --shadow-brown-light: rgba(203, 111, 45, 0.391);
   --brown-dark: #633729;
   --green:#08a300;
}

// large components
.slide-container{
   display:inline-block;
   margin: 20px 0;
   width:70% !important;
   height:400px!important;
   max-height:100vh;
   img{
      width:70;
      box-shadow: 5px 5px 5px 5px black;
      object-fit:cover;
   }
}
.info-card{
   display:flex;
   flex-direction:column;
   width:100%;
   height:100%;
   background:white;
   border: 5px solid black;
   text-align:center;
   
   .info-card-header{
      display:flex;
      justify-content:center;
      align-items:center;
      width:100%;
      height:60px;
      text-align:center;
      background: var(--brown-light);
   }
   
   .info-card-body-wrapper{
      width:100%;
      flex:auto;
      display:flex;
      justify-content:center;
      align-items:center;
      overflow:auto;
   }
   .info-card-body{
      height:100%;
      width:100%;
      text-align:center;
   }
}

// components for lists in current recipe page

#current-recipe-page{
   li{
      padding:0;
      margin:0;
      list-style:none;

      input[type=checkbox]{
         height:50px !important;
      }
   }
}
.ingredient-wrapper{
   display:flex;
   justify-content:center;
   align-items:center;
   width:100%;
   padding:0px 20px;
   margin:0;
}
.checkbox-green{
   accent-color:var(--green);
}
.checkbox-lg{
   flex:none;
   height:20px;
   width:20px;
   margin:0 10px;
}

.button-box-wrapper{
   display:flex;
   justify-content:center;
   width:100%;
   background:var(--brown-dark);
   text-align:center;
}
#current-recipe-page .button-box{
   display:flex;
   width:70%;
   margin: 20px 0;
   justify-content:center;
   button{
      margin:10px 20px;
   }
}

// styling for top bar
.recipeTopContainer
{
    height: 95px;
    width: 100%;
    background-color: var(--brown-dark);
    display: flex;
    justify-content:center;
    align-items: center;
}

.top-bar-content{
   height:100%;
   width:80% !important;
   display:flex;
   justify-content:space-between;
   align-items:center;

}

.top-bar-brand
{
   display:inine-block;   
}

.recipeInfoContainer
{
   padding:0 20px;
   display: flex;
   justify-content:start;

}




