.homeContainer
{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 100%;
}
.feedWrapper
{
   width:100%;
   max-height:100vh;
   overflow-y:scroll;

   padding: 20px 40px;
}
.feed
{
   width:100%;
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
}

#homepage form > input[type=text]{
      width:100% !important;
}

/************************* Post Stuff ******************************/
.postWrapper
{
   display:inline-block;
   width: 600px;
   border-radius: 10px;
   box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
   margin: 30px 0;
   flex-shrink:0;
}

.post
{
    padding: 0px;
    height: 400px;
}

.postTop
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.postCenter
{
    margin: 20px 0;
}



.topHalf
{
    display: flex;
    height: 35%;
    background-color: rgb(138, 138, 138);
    align-items: center;
}

.topLeft
{
    width: 50%;
    padding-left: 15px;

}

.topRight
{
   height:100%; 
   width: 50%;
    text-align: right;
    padding-right: 25px;
}

.postName
{
    border: none;
    width: 80%;
    padding-bottom: 25px;
}

.postDescription
{
    border: none;
    width: 80%;
}

.post img{
   height:100%; 
   object-fit:cover;
}


.bottomHalf
{
    height: 65%;
    background-color: lightgray;
    display: flex;
    align-items: center;
}

.bottomLeft
{
    width: 50%;
    padding-left: 15px;

}

.postTime
{
    border: none;
    width: 80%;
    padding-bottom: 25px;
}

.postDifficulty
{
    border: none;
    width: 80%;
    padding-bottom: 25px;
}

.postServes
{
    border: none;
    width: 80%;
    padding-bottom: 25px;
}


.bottomRight
{
    width: 50%;
    text-align: right;
    padding-right: 25px;

}

.postSaveButton
{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
    cursor: pointer;
    color: white;
}