:root{
    --offwhite: #FFFCF5;
    --cream: #FFF6E0;
    --red-light: #f5936c;
    --shadow-red-light: #bb5c36;
    --red: #DC4E33;
    --gold:  #FEB346;
    --gold: #FEB346;
    --brown-light: #CB6E2D;
    --brown-dark: #633729;

}

.login-card{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    
    box-sizing:border-box;
    width:100%;
    padding:10px;
    height:400px;

    background-color:var(--red-light);
    box-shadow: 12px 12px 5px var(--shadow-red-light);
}

/* specific id styling */

