:root{
    --offwhite: #FFFCF5;
    --cream: #FFF6E0;
    --red-light: #F5936C;
    --shadow-red-light: #bb5c36;
    --red-light-active: #e97f56;
    --red: #DC4E33;
    --gold:  #FEB346;
    --shadow-gold: #b8812f;
    --gold-active: #f3a022;
    --gold: #FEB346;
    --brown-light: #CB6E2D;
    --brown-dark: #633729;
}

body{
    background:var(--cream);
    text-align:center;
    height:100%;
}

.floating-container{
    position:relative;
    height:100%;
    text-align:center;
    margin: 0 auto; 
}
/* wrapper for the register box and buttons */
#site-title{
   background:var(--offwhite);
       border: 5px solid var(--brown-dark);

}
#info{
    margin: auto auto; 
    height:800px;
    width:500px;
    max-width:80%;
    max-height:100%;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
/* Side panel description and animations */
.side-panel{
   position:fixed;
   left:0%;
   height:100%;
   width:50%;
   background:var(--red);
}
.side-panel[option='0']{
    position:fixed;
    left:0%;
    height:100%;
    width:50%;
    background:var(--red);

    animation: login-animation .5s ease-in forwards;
}
@keyframes login-animation{
    from{
        left:50%;
        background-color:var(--brown-light);
    }
    to{
        left:0;
        background-color:var(--red);
    }
}
.side-panel[option='1']{
   position:fixed; 
   height:100%;
   width:100%;
   max-width:50%;
   background:var(--brown-light);

   left:50%;

   animation: register-animation .5s ease-in forwards;
}
@keyframes register-animation{
    from{
        left:0;
        background-color:var(--red);
    }
    
    to{
        left:50%;
        background-color:var(--brown-light);
    }
}

.button-box
{ 
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    
    margin: 30px;
    width:100%;
}

/*buttons*/
.shadow-button {
  align-items: center;
  background-color: white;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.shadow-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.shadow-button:hover:after {
  transform: translate(0, 0);
}

.shadow-button:active {
  outline: 0;
}


.shadow-button:hover {
  outline: 0;
}


#login-button{
    background-color:var(--red-light);
    align-self:flex-start;
}
#login-button:active{
    background-color:var(--red-light-active);
}

#register-button{
    background-color:var(--gold);
    align-self:flex-end;
}
#register-button:active{
    background-color: var(--gold-active)
}

/************ Login and Register Form Wrappers ******************/

/* login option */
.form-card[option='0']{
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   text-align:center !important;
   box-sizing:border-box;
   width:100%;
   padding:10px;
   height:400px;
   background-color:var(--red-light);
   box-shadow: 12px 12px 5px var(--shadow-red-light);

   animation: login-card-animation .5s ease-in forwards;
}
@keyframes login-card-animation{
   from{
      background-color:var(--gold);
      box-shadow: 12px 12px 5px var(--shadow-gold);
   }
   to{
      background-color:var(--red-light);
      box-shadow: 12px 12px 5px var(--shadow-red-light);
   }
}


/* register option */
.form-card[option='1']{
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   text-align:center;
   
   box-sizing:border-box;
   width:100%;
   padding:10px;
   height:400px;
   background-color:var(--gold);
   box-shadow: 12px 12px 5px var(--shadow-gold);

   animation: register-card-animation .5s ease-in forwards;
}

.form-card input{
   width:100%;
}

@keyframes register-card-animation{
   from{
      background-color:var(--red-light);
      box-shadow: 12px 12px 5px var(--shadow-red-light); 
   }
   to{
      background-color:var(--gold);
      box-shadow: 12px 12px 5px var(--shadow-gold);
   }
}

/* form stuff */


form{
   display:block;
   width:100%;
   max-width:80%;
   background:var(--offwhite);
   padding:20px 10px;
   margin:30px !important;
   border: 4px solid black;
   box-shadow: 7px 7px black;
}
form > input, form> textarea{
   display:block !important;
}


@media (min-width: 768px) {
   .shadow-button {
     padding: 0 40px;
   }
 }
