.post
{
    width: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    margin: 30px 0;
}

.postWrapper
{
    padding: 0px;
    height: 400px;
}

.postTop
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.postCenter
{
    margin: 20px 0;
}



.topHalf
{
    display: flex;
    height: 35%;
    background-color: rgb(138, 138, 138);
    align-items: center;
}

.topLeft
{
    width: 50%;
    padding-left: 15px;

}

.topRight
{
    width: 50%;
    text-align: right;
    padding-right: 25px;
}

.postName
{
    border: none;
    width: 80%;
    padding-bottom: 25px;
}

.postDescription
{
    border: none;
    width: 80%;
}

.postPhoto
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    

}


.bottomHalf
{
    height: 65%;
    background-color: lightgray;
    display: flex;
    align-items: center;
}

.bottomLeft
{
    width: 50%;
    padding-left: 15px;

}

.postTime
{
    border: none;
    width: 80%;
    padding-bottom: 25px;
}

.postDifficulty
{
    border: none;
    width: 80%;
    padding-bottom: 25px;
}

.postServes
{
    border: none;
    width: 80%;
    padding-bottom: 25px;
}


.bottomRight
{
    width: 50%;
    text-align: right;
    padding-right: 25px;

}

.postSaveButton
{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
    cursor: pointer;
    color: white;
}