.sidebar
{
    flex: 3;
    height: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: start;
    align-items: center;
    position: sticky;
}

.menu-bars {
    margin-left: 10rem;
    font-size: 3rem;
    background: none;
  }

  .menu-arrow
  {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    position: fixed !important;

  }

  .nav-menu {
    background-color: #060b26;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }

/*::-webkit-scrollbar
{
    width: 5px;
    color: gray;
}

::-webkit-track
{
    background-color: #f1f1f1;
}

::-webkit-thumb
{
    background-color: rgb(179, 179, 179);
}*/



.sidebarWrapper
{
    padding: 20px;
    background-color: #cb6e2d;
    height: 100vh !important;
    min-height: calc(100vh - 90px);
}

.sidebarTopImgContainer
{
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    
    
}

.sidebarTopImg
{
    width: 200px;
    border-radius: 100px;
}


.sidebarList
{
    padding: 10px 0px;
    margin: 0;
    list-style: none;
}

.sidebarListItem
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarIcon
{
    margin-right: 15px;
    width: 50px;
    cursor: pointer;
}


.sidebarButton
{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.sidebarHr
{
    margin: 20px 0;

}

.sidebarFriendList
{
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.sidebarFriend
{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebarFriendImg
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}