body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.welcome-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	background-color: #FFF6E0;
  color: #3E3E3E;
}

.left-section {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
  position: relative;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	background-color: #F5936C;
}

.right-section {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.welcome-title {
	font-size: 3rem;
	margin-bottom: 1rem;
  z-index: 2;
}

.welcome-description {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 2rem;
  z-index: 2;
}

.welcome-grabber {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.login-button {
	background-color: #ffefc6;
	border: 1px solid #000000;
	border-radius: 25px;
	padding: 0.5rem 10rem;
	font-size: 1.2rem;
	margin: 0 0.5rem 0.5rem 0.5rem;
	cursor: pointer;
}

.register-button {
	background-color: #F5936C;
	border: 1px solid #000000;
	border-radius: 25px;
	padding: 0.5rem 9.5rem;
	font-size: 1.2rem;
	margin: 0.5rem 0.5rem 0 0.5rem;
	cursor: pointer;
}

.login-button:hover {
  background-color: #ffefc657;
}

.register-button:hover {
	background-color: #f5936c8e;
}

.spinner-container {
  perspective: 800px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.welcome-circle {
  width: 50vw;
  height: 30vh;
  background-color: #FFFFFF;
  border-radius: 50%;
  outline: 1px solid #000000;
  position: absolute;
  z-index: 1;
  transform-style: preserve-3d;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
