:root{
   --offwhite: #FFFCF5;
   --cream: #FFF6E0;
   --red-light: #f5936c;
   --shadow-red-light: #bb5c36;
   --red: #DC4E33;
   --gold:  #FEB346;
   --shadow-gold: #b8812f;
   --brown-light: #CB6E2D;
   --shadow-brown-light: rgba(203, 111, 45, 0.391);
   --brown-dark: #633729;
   --green:#08a300;

}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.welcome-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	background-color: #FFF6E0;
  color: #3E3E3E;
}

.left-section {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
  position: relative;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	background-color: #F5936C;
}

.right-section {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.welcome-title {
	font-size: 3rem;
	margin-bottom: 1rem;
  z-index: 2;
}

.welcome-description {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 2rem;
  z-index: 2;
}

.welcome-grabber {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.login-button {
	background-color: #ffefc6;
	border: 1px solid #000000;
	border-radius: 25px;
	padding: 0.5rem 10rem;
	font-size: 1.2rem;
	margin: 0 0.5rem 0.5rem 0.5rem;
	cursor: pointer;
}

.register-button {
	background-color: #F5936C;
	border: 1px solid #000000;
	border-radius: 25px;
	padding: 0.5rem 9.5rem;
	font-size: 1.2rem;
	margin: 0.5rem 0.5rem 0 0.5rem;
	cursor: pointer;
}

.login-button:hover {
  background-color: #ffefc657;
}

.register-button:hover {
	background-color: #f5936c8e;
}

.spinner-container {
  perspective: 800px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.welcome-circle {
  width: 50vw;
  height: 30vh;
  background-color: #FFFFFF;
  border-radius: 50%;
  outline: 1px solid #000000;
  position: absolute;
  z-index: 1;
  transform-style: preserve-3d;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}


/* modular bootstrap style classes */
.text-white{
   color:white;
}
.bg-brown-light{
   background-color:var(--brown-light);
}
.bg-cream{
   background-color:var(--cream);
}
.bg-red-light{
   background-color: var(--red-light)
}

.fill-screen{
   height:100vh;
   width:100vw;
}

.btn:hover{
   background-color:none !important;
   border-color:white !important;
   color:white !important;
}

.btn{
   font-size:1.25rem !important;
}
.btn-red{
   background:var(--red)!important;
   border: 2px solid black!important;
   border-radius: 10px!important;
}

.btn-green{
   background:var(--green)!important;
   border: 2px solid black!important;
   border-radius: 10px!important;
}
.btn-gold{
   background:var(--gold)!important;
   border: 2px solid black!important;
   border-radius: 10px!important;
}

// swiper stuff
.swiper-container {
   width: 90%;
   height: 100%;
   text-align:center;
 }
 
 .swiper-slide {
   font-size: 18px;
   
   /* Center slide text vertically */
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
 }
 .swiper-slide  {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
   cursor:grab;
 }

 .swiper-pagination-progressbar-fill{
   background:var(--green) !important;
 }

 .swiper-button-next, .swiper-button-prev{
   color:black !important;
 }
 .submit-done{
   background-color:var(--green);
 }